<config platform="project" template="project (default)">Created: Сб 7. дек 09:54:57 2013&#xd;
By: Enelar&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="TestGame" name="name"/>
    <option fromDef="true" value="TestGame" name="caption"/>
    <option fromDef="true" value="Enelar" name="provider"/>
    <option fromDef="true" value="(C) Enelar" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
