<config template="project (default)" platform="project">Created: Сб 7. дек 09:54:57 2013
By: Enelar
Using Template: project (default)

&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="TestGame" name="name" fromDef="true"/>
    <option value="TestGame" name="caption" fromDef="true"/>
    <option value="Enelar" name="provider" fromDef="true"/>
    <option value="(C) Enelar" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
